<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <link rel='stylesheet' href='/stylesheets/chatting.css' />
    <script src="/javascripts/publicFunction.js"></script>
    <script src="/javascripts/j_headline.js"></script>
    <script src="/javascripts/j_chatting.js"></script>
    <script src = "/socket.io/socket.io.js"></script>
</head>
<body>
<div class="headline_div">
    <div class="user_name_div">
        <label id="myinfo_label"><%=title%>님 어서오세요.</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel">내 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineChattingLabel" style="font-weight: bold">채팅</label>
        <select id="sharedChatSelect"></select>
    </div>
</div>
<div class="bottom_div">
    <div class="chat_window_div">
        <div class="chat_display_div" id="textDisplayDiv">

        </div>
        <span class="text_input_span">
            <input type="text" class="message_text_input" id="chattingTextInput"></textarea>
            <input type="button" class="message_send_button" value="전송" id="messageSendButton">
        </span>
    </div>
</div>

</body>
</html>
