<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
  <head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="headline_div">
      <div class="headline_tab_div">
        내 일정
      </div>
      <div class="headline_tab_div">
        대상 일정
      </div>
      <div class="headline_tab_div">
        채팅
      </div>
    </div>
    <div class="todo_div">

    </div>
    <div class="calendar_div">

    </div>

  </body>
</html>
