<!DOCTYPE html>
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="solid_1px_black_border width_400 height_200">
    <div>
        <h1>
            Todo overseer
        </h1>
    </div>
    <div>
        <div>
            <div>
                <label>
                    아이디 :
                </label>
                <input type="text"/>
            </div>
            <div>
                <label>
                    패스워드 :
                </label>
                <input type="text"/>
            </div>
            <div>
                <input type="button" id="" value="로그인"/>
                <input type="button" id="" value="회원가입"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>
