<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
  <head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/calendar.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <link rel='stylesheet' href='/stylesheets/datepicker.css' />
    <script src="/javascripts/publicFunction.js"></script>
    <script src="/javascripts/calendar.js"></script>
    <script src="/javascripts/todo.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/j_headline.js"></script>
    <script src="/javascripts/datepicker.js"></script>
  </head>
  <body>
    <div class="headline_div">
      <div class="user_name_div">
        <label id="myinfo_label"><%=title%>님 어서오세요.</label>
      </div>
      <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel">내 일정</label>
      </div>
      <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
      </div>
      <div class="headline_tab_div">
        <label id="headlineChattingLabel">채팅</label>
      </div>
    </div>
    <div class="right_div">
      <div class="todo_category_container_div">
        <span class="todo_category_span">달력에 표시되는 일</span>
        <span class="todo_category_span">일일 할일</span>
        <span class="todo_category_span">주간 목표</span>
        <span class="todo_category_span">월간 목표</span>
      </div>
      <div id="todo_container_div" class="todo_container_div">

      </div>
      <input type="text" id="todo_input" class="todo_input"/>
    </div>
    <div class="left_div" id="calendar_div">

    </div>
  </body>
</html>
