<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/myinfo.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <script src="/javascripts/j_publicFunction.js"></script>
    <script src="/javascripts/j_myInfo.js"></script>
    <script src="/javascripts/j_headline.js"></script>
</head>
<body>
<div class="headline_div">
    <div class="user_name_div">
        <label id="myInfoLabel"><%=title%>님 어서오세요.</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel">내 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineChattingLabel">채팅</label>
    </div>
</div>
<div class="bottom_div">
    <div class="myinfo_container_div">
        <div class="myinfo_id_info_div">
            <label>ID : </label><label><%=USER_ID%></label>
        </div>
        <div class="myinfo_password_info_div">
            <label>PASSWORD : </label><input type="password" id="passwordInput"><br>
            <label>PASSWORD CONFIRM : </label><input type="password" id="password_confirm_input">
        </div>
        <div class="myinfo_email_info_div">
            <label>E-MAIL : </label><input id="email_modify_input" type="text">
        </div>
        <input class="myinfo_submit_button" type="button" id="myinfoModifySubmitButton" value="확인">
    </div>
    <div class="myinfo_delete_account_div">
        탈퇴하기
    </div>
</div>

</body>
</html>
