<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
  <head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/calendar.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <link rel='stylesheet' href='/stylesheets/datepicker.css' />
    <script src="/javascripts/j_publicFunction.js"></script>
    <script src="/javascripts/j_calendar.js"></script>
    <script src="/javascripts/j_todo.js"></script>
    <script src="/javascripts/j_mySchedule.js"></script>
    <script src="/javascripts/j_headline.js"></script>
    <script src="/javascripts/j_datepicker.js"></script>
  </head>
  <body>
    <div class="headline_div">
      <div class="user_name_div">
        <label id="myInfoLabel"><%=title%>님 어서오세요.</label>
      </div>
      <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel" style="font-weight: bold">내 일정</label>
      </div>
      <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
      </div>
      <div class="headline_tab_div">
        <label id="headlineChattingLabel">채팅</label>
      </div>
    </div>
    <div class="right_div">
      <div class="todo_category_container_div">
        <span class="todo_category_span" id="calendarViewTodoSpan">달력에 표시되는 일</span>
        <span class="todo_category_span active" id="dailyTodoSpan">일일 할일</span>
        <span class="todo_category_span" id="weeklyTodoSpan">주간 목표</span>
        <span class="todo_category_span" id="monthlyTodoSpan">월간 목표</span>
      </div>
      <div id="todoContainerDiv" class="todo_container_div">

      </div>
      <input type="text" id="todoInputText" class="todo_input"/>
    </div>
    <div class="left_div" id="calendarDiv">

    </div>
  </body>
</html>
