<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <link rel='stylesheet' href='/stylesheets/schedule_setting.css' />
    <script src='/javascripts/publicFunction.js'></script>
    <script src='/javascripts/j_schedule_setting.js'></script>
    <script src="/javascripts/j_headline.js"></script>
</head>
<body>
<div class="headline_div">
    <div class="user_name_div">
        <label id="myinfo_label"><%=title%>님 어서오세요.</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel">내 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineChattingLabel">채팅</label>
    </div>
</div>
<div class="schedule_manage_div">

</div>

</body>
</html>
