<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <link rel='stylesheet' href='/stylesheets/schedule_setting.css' />
    <script src='/javascripts/j_publicFunction.js'></script>
    <script src='/javascripts/j_scheduleSetting.js'></script>
    <script src="/javascripts/j_headline.js"></script>
</head>
<body>
<div class="headline_div">
    <div class="user_name_div">
        <label id="myinfo_label"><%=title%>님 어서오세요.</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel">내 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineChattingLabel">채팅</label>
    </div>
</div>
<div class="schedule_manage_div">
    <div class="shared_schedule_request_div">
        <div>
            <label>
                스케줄 공유 요청
            </label>
        </div>
        <div>
            <input type="text" placeholder="아이디" id="todoSharedRequest">
            <input type="button" value="전송" id="requestSubmit">
        </div>
    </div>

    <div class="shared_schedule_request_status_div">
        <label>
            스케줄 공유 요청 현황
        </label>
        <table class="shared_schedule_request_status_table">
            <thead>
            <tr>
                <td>
                    대상 이름
                </td>
                <td>
                    대상 이메일
                </td>
                <td>
                    요청 시각
                </td>
                <td>
                    상태
                </td>
            </tr>
            </thead>
            <tbody id="shared_todo_request_tbody">

            </tbody>
        </table>
    </div>

    <div class="shared_schedule_receive_status_div">
        <label>
            스케줄 공유 요청 수신 목록
        </label>
        <table class="shared_schedule_receive_status_table">
            <thead>
            <tr>
                <td>
                    요청 아이디
                </td>
                <td>
                    요청 이메일
                </td>
                <td>
                    수신 시각
                </td>
                <td>
                    수락/거절
                </td>
            </tr>
            </thead>
            <tbody id="shared_todo_receive_tbody">

            </tbody>
        </table>
    </div>
</div>

</body>
</html>
