<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <script src='/javascripts/publicFunction.js'></script>
</head>
<body>
<div class="schedule_manage_div">

</div>

</body>
</html>
