<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html>
<head>
    <title>Todo overseer</title>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/target_schedule.css' />
    <link rel='stylesheet' href='/stylesheets/calendar.css' />
    <link rel='stylesheet' href='/stylesheets/headline.css' />
    <script src="/javascripts/publicFunction.js"></script>
    <script src="/javascripts/calendar.js"></script>
    <script src="/javascripts/todo.js"></script>
    <script src="/javascripts/j_target_schedule.js"></script>
    <script src="/javascripts/j_headline.js"></script>
</head>
<body>
<div class="headline_div">
    <div class="user_name_div">
        <label id="myinfo_label"><%=title%>님 어서오세요.</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineMyScheduleLabel">내 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineTargetScheduleLabel">대상 일정</label>
    </div>
    <div class="headline_tab_div">
        <label id="headlineChattingLabel">채팅</label>
    </div>
</div>
<div class="right_div">
    <div id="todo_container_div" class="todo_container_div">

    </div>
</div>
<div class="left_div" id="calendar_div">

</div>
</body>
</html>
