.calendar_table{
    width: 100%;
    height: 100%;
    text-align: center;
}

.day_tr > td{
    width: 14%;
}

.day_td{
    text-align: left;
    border: 1px solid black;
    width: calc(100% / 7);
}

.day_td:hover{
    cursor: pointer;
    background-color: #ffffd7;
}

.day_td:active{
    background-color: #ffff99;
}

.day_label{
    margin-top: 10px;
    margin-left: 10px;
}

.day_selected{
    background-color: #ffff99;
}

.day_head_tr>td{
    height: 50px;
    vertical-align: middle;
}

.current_Month{
    font-size: 20px;
}

#calendar_prevMonth>label{
    font-size: 20px;

}

#calendar_nextMonth>label{
    font-size: 20px;
}

#calendar_prevMonth>label:hover{
    cursor: pointer;
    font-weight: bold;
}

#calendar_nextMonth>label:hover{
    cursor: pointer;
    font-weight: bold;
}

.blue_font{
    color: blue;
}

.red_font{
    color: red;
}