.calendar_table{
    width: 100%;
    height: 100%;
    text-align: center;
}

.day_tr > td{
    width: 14%;
}

.day_label{
    
}

.day_label:hover{
    cursor: pointer;
    font-weight: bold;
}

.day_selected{
    background-color: #ffff99;
}

#calendar_prevMonth:hover{
    cursor: pointer;
    font-weight: bold;
}

#calendar_nextMonth:hover{
    cursor: pointer;
    font-weight: bold;
}