.jh_datepicker_div {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
}

.jh_datepicker_div_table {

}

.jh_datepicker_div_table_thead {
    text-align: center;
}

.jh_datepicker_div_table_thead_prev:hover {
    cursor: pointer;
    font-weight: bold;
}

.jh_datepicker_div_table_thead_after:hover {
    cursor: pointer;
    font-weight: bold;
}

.jh_datepicker_div_table_thead_sat {
    color: blue;
}

.jh_datepicker_div_table_thead_sun {
    color: red;
}

.jh_datepicker_div_table_tbody_td {
    width: 20px;
    height: 20px;
}

.jh_datepicker_div_table_tbody_td:hover {
    cursor: pointer;
    font-weight: bold;
}

.jh_datepicker_div_table_tbody_sat {
    color: blue;
}

.jh_datepicker_div_table_tbody_sun {
    color: red;
}
