html{
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100%;
    box-sizing: border-box;
}


.headline_div{
    box-sizing: border-box;
    width: 100%;
    height: 8%;
}

.left_div{
    box-sizing: border-box;
    width: 70%;
    height: 92%;
    float: left;
    display: inline-block;
}

.right_div{
    box-sizing: border-box;
    width: 30%;
    height: 92%;
    float: right;
    display: inline-block;
}

.headline_tab_div{
    box-sizing: border-box;
    float: left;
    margin-left: 30px;
    display: inline-block;
    font-size: 1.5rem;
}
.headline_tab_div:hover{
    cursor: pointer;
    font-weight: bold;
}
.todo_div{
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: 95%;
}
.todo_input{
    box-sizing: border-box;
    width: 100%;
    height: 5%;
}


@media (max-width: 1440px)  {
    .headline_div{
        height: 8%;
    }

    .left_div{
        width: 100%;
        height: 42%;
        display: block;
    }

    .right_div{
        width: 100%;
        height: 50%;
        display: block;
    }

    .headline_tab_div{
        font-size: 2.5rem;
    }

    .todo_div{
        box-sizing: border-box;
        width: 100%;
        height: 90%;
    }
    .todo_input{
        box-sizing: border-box;
        width: 100%;
        height: 10%;
    }
}

@media (max-width: 720px)  {
    .left_div{

    }

    .right_div{

    }
}