html{
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100%;
    box-sizing: border-box;
}


.headline_div{
    box-sizing: border-box;
    width: 100%;
    height: 8%;
}

.left_div{
    box-sizing: border-box;
    width: 70%;
    height: 92%;
    float: left;
    display: inline-block;
}

.right_div{
    box-sizing: border-box;
    width: 30%;
    height: 92%;
    float: right;
    display: inline-block;
}

.headline_tab_div{
    box-sizing: border-box;
    float: left;
    margin-left: 30px;
    display: inline-block;
    font-size: 1.5rem;
}
.headline_tab_div:hover{
    cursor: pointer;
    font-weight: bold;
}
.todo_container_div{
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: calc(100% - 2rem);
}

.todo_label_container_div{
    box-sizing: border-box;
    width: calc(100% - 30px);
    height: 100%;
    display: inline-block;
}

.todo_input{
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
}

.todo_div{
    box-sizing: border-box;
    border:1px solid black;
    width: 100%;
    height: 2rem;
    vertical-align: middle;
}

.todo_label{
    vertical-align: middle;
    box-sizing: border-box;
    height: 100%;
}

.todo_modify{
    float: right;
    vertical-align: middle;
    height: 100%;
    margin-right: 5px;
}

.todo_modify:hover{
    cursor: pointer;
    font-weight: bold;
}

.todo_delete{
    float: right;
    vertical-align: middle;
    height: 100%;
}

.todo_delete:hover{
    cursor: pointer;
    font-weight: bold;
}

.todo_detail_div{
    font-size: 8pt;
}

.todo_detail_div:hover{
    cursor: pointer;
    font-weight: bold;
}

.todo_date_limit_div{
    font-size: 6pt;
}

.completed_check_span{
    box-sizing: border-box;
    height: 100%;
    width: 30px;
    display: inline-block;
    float: left;
}



@media (max-width: 1440px)  {
    .headline_div{
        height: 8%;
    }

    .left_div{
        width: 100%;
        height: 42%;
        display: block;
    }

    .right_div{
        width: 100%;
        height: 50%;
        display: block;
    }

    .headline_tab_div{
        font-size: 1.5rem;
    }

    .todo_container_div{
        box-sizing: border-box;
        width: 100%;
        height: 90%;
    }
    .todo_input{
        box-sizing: border-box;
        width: 100%;
        height: 10%;
    }
}

@media (max-width: 720px)  {
    .left_div{

    }

    .right_div{

    }
}