html{
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100%;
    box-sizing: border-box;
}

.shared_schedule_request_status_table{
    width: 100%;
    text-align: center;
}

.shared_schedule_request_status_table td{
    border: 1px solid black;
}

.shared_schedule_receive_status_table{
    width: 100%;
    text-align: center;
}

.shared_schedule_receive_status_table td {
    border: 1px solid black;
}

.schedule_manage_div{
    position: absolute;
    left:calc(50% - 300px);
    top:calc(50% - 300px);
    box-sizing: border-box;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.shared_schedule_request_div{
    box-sizing: border-box;
    height: 10%;
}

.shared_schedule_request_status_div{
    box-sizing: border-box;
    height: 40%;
}

.shared_schedule_table_div{
    box-sizing: border-box;
    height: 40%;
}