html{
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100%;
    box-sizing: border-box;
}

.sharedScheduleRequestStatus_table{
    width: 100%;
    text-align: center;
}

.sharedScheduleRequestStatus_table td{
    border: 1px solid black;
}

.sharedScheduleReceiveStatus_table{
    width: 100%;
    text-align: center;
}

.sharedScheduleReceiveStatus_table td {
    border: 1px solid black;
}

.scheduleManage_div{
    position: absolute;
    left:calc(50% - 300px);
    top:calc(50% - 300px);
    box-sizing: border-box;
    border: 1px solid #000000;
    width: 600px;
    height: 600px;
}

.sharedScheduleRequest_div{
    box-sizing: border-box;
    height: 10%;
}

.sharedScheduleRequestStatus_div{
    box-sizing: border-box;
    height: 40%;
}

.receiveSubmmit_button:hover {
    cursor: pointer;
}

.receiveDecline_button:hover {
    cursor: pointer;
}