html{
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-image: url("/images/login_background.jpg");
    background-size: cover;
}

.signup_paper{
    float: right;
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    background-color: #591902;
    border-left: 3px double #591902;
    color: white;
    text-align: center;
}
.signup_inner_box{
    margin-top: 50%;
}

.signup_title{
    font-size: 30pt;
}
.signup_label{
    font-weight: bold;
    font-size: 20pt;
}
.signup_input_text{
    font-weight: bold;
    font-size: 15pt;
}
.signup_input_button{
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border: 3px solid #591902;
    font-size: 10pt;
    font-weight: bold;
}